services:
  mysql:
    image: mysql:8.0
    container_name: sms_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASS}
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build:
      context: .
      dockerfile: ./src/docker/Dockerfile
    container_name: sms_backend
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - DB_HOST=mysql
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./uploads:/usr/src/app/uploads

volumes:
  mysql_data: